In [1]:
!pip install kaggle

Collecting kaggle
  Using cached kaggle-1.6.17-py3-none-any.whl
Requirement already satisfied: six>=1.10 in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (2024.6.2)
Requirement already satisfied: python-dateutil in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (2.32.2)
Requirement already satisfied: tqdm in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (4.66.4)
Requirement already satisfied: python-slugify in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (1.26.20)
Requirement already satisfied: bleach in c:\users\shaha\anaconda3\lib\site-packages (from kaggle) (4.1.0)
Requirement already satisfied: packaging in c:\users\shaha\anaconda3\lib\site-packages (from bleach->kaggle) (23.2)
Requirement already satisfied: webencodings in c:\users\shaha\anaconda3\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\shaha\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\shaha\anaconda3\lib\site-packages (from requests->kaggle) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\shaha\anaconda3\lib\site-packages (from requests->kaggle) (3.7)
Requirement already satisfied: colorama in c:\users\shaha\anaconda3\lib\site-packages (from tqdm->kaggle) (0.4.6)
Installing collected packages: kaggle
Successfully installed kaggle-1.6.17

In [2]:
#download datasets using kaggle api
import kaggle
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
Downloading orders.csv.zip to C:\Users\shaha

  0%|          | 0.00/200k [00:00<?, ?B/s]
100%|##########| 200k/200k [00:00<00:00, 1.12MB/s]
100%|##########| 200k/200k [00:00<00:00, 1.12MB/s]

In [3]:
#extract file from the zipfile
import zipfile

zip_ref=zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [10]:
#read the file using pandas

import pandas as pd

df=pd.read_csv('orders.csv',na_values=['Not Available','unknown'])
df.head()

,Order Id,Order Date,Ship Mode,Segment,Country,City,State,Postal Code,Region,Category,Sub Category,Product Id,cost price,List Price,Quantity,Discount Percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [9]:
#Handling null values
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', 'Not Available', 'unknown',
       'First Class', nan, 'Same Day'], dtype=object)

In [11]:
df.columns

Index(['Order Id', 'Order Date', 'Ship Mode', 'Segment', 'Country', 'City',
       'State', 'Postal Code', 'Region', 'Category', 'Sub Category',
       'Product Id', 'cost price', 'List Price', 'Quantity',
       'Discount Percent'],
      dtype='object')

In [15]:
#rename columns, making them in lower case and replacing space with underscore
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df.columns

Index(['order_id', 'order_date', 'ship_mode', 'segment', 'country', 'city',
       'state', 'postal_code', 'region', 'category', 'sub_category',
       'product_id', 'cost_price', 'list_price', 'quantity',
       'discount_percent'],
      dtype='object')

In [18]:
#derive new columns, discount, sell price and profit

df['discount_price'] = df['list_price']*df['discount_percent']/100
df['sell_price'] = df['list_price'] - df['discount_price']
df['profit'] = df['sell_price'] - df['cost_price']

In [19]:
df.head()

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount_price,sell_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0

In [20]:
df.dtypes

order_id              int64
order_date           object
ship_mode            object
segment              object
country              object
city                 object
state                object
postal_code           int64
region               object
category             object
sub_category         object
product_id           object
cost_price            int64
list_price            int64
quantity              int64
discount_percent      int64
discount_price      float64
sell_price          float64
profit              float64
dtype: object

In [22]:
#convert order date from object to datetime

df['order_date']= pd.to_datetime(df['order_date'],format = '%Y-%m-%d')

In [23]:
df.dtypes

order_id                     int64
order_date          datetime64[ns]
ship_mode                   object
segment                     object
country                     object
city                        object
state                       object
postal_code                  int64
region                      object
category                    object
sub_category                object
product_id                  object
cost_price                   int64
list_price                   int64
quantity                     int64
discount_percent             int64
discount_price             float64
sell_price                 float64
profit                     float64
dtype: object

In [24]:
#drop unwanted columns
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [25]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Downloading mysql_connector_python-9.2.0-cp312-cp312-win_amd64.whl (16.1 MB)
   ---------------------------------------- 0.0/16.1 MB ? eta -:--:--
    --------------------------------------- 0.4/16.1 MB 11.6 MB/s eta 0:00:02
   - -------------------------------------- 0.6/16.1 MB 8.1 MB/s eta 0:00:02
   -- ------------------------------------- 0.8/16.1 MB 7.3 MB/s eta 0:00:03
   -- ------------------------------------- 1.1/16.1 MB 6.5 MB/s eta 0:00:03
   --- ------------------------------------ 1.4/16.1 MB 6.4 MB/s eta 0:00:03
   ---- ----------------------------------- 1.7/16.1 MB 6.3 MB/s eta 0:00:03
   ----- ---------------------------------- 2.0/16.1 MB 5.9 MB/s eta 0:00:03
   ----- ---------------------------------- 2.4/16.1 MB 6.1 MB/s eta 0:00:03
   ------ --------------------------------- 2.7/16.1 MB 6.0 MB/s eta 0:00:03
   ------- -------------------------------- 3.0/16.1 MB 6.0 MB/s eta 0:00:03
   -------- ------------------------------- 3.4/16.1 MB 6.0 MB/s eta 0:00:03
   --------- ------------------------------ 3.7/16.1 MB 5.9 MB/s eta 0:00:03
   --------- ------------------------------ 4.0/16.1 MB 6.0 MB/s eta 0:00:03
   ---------- ----------------------------- 4.2/16.1 MB 6.0 MB/s eta 0:00:02
   ----------- ---------------------------- 4.6/16.1 MB 6.0 MB/s eta 0:00:02
   ------------ --------------------------- 5.0/16.1 MB 6.0 MB/s eta 0:00:02
   ------------- -------------------------- 5.2/16.1 MB 5.9 MB/s eta 0:00:02
   ------------- -------------------------- 5.6/16.1 MB 5.9 MB/s eta 0:00:02
   -------------- ------------------------- 5.9/16.1 MB 5.9 MB/s eta 0:00:02
   --------------- ------------------------ 6.3/16.1 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 6.6/16.1 MB 5.9 MB/s eta 0:00:02
   ---------------- ----------------------- 6.8/16.1 MB 5.8 MB/s eta 0:00:02
   ----------------- ---------------------- 7.2/16.1 MB 5.8 MB/s eta 0:00:02
   ------------------ --------------------- 7.6/16.1 MB 5.8 MB/s eta 0:00:02
   ------------------- -------------------- 7.9/16.1 MB 5.8 MB/s eta 0:00:02
   -------------------- ------------------- 8.3/16.1 MB 5.8 MB/s eta 0:00:02
   --------------------- ------------------ 8.6/16.1 MB 5.8 MB/s eta 0:00:02
   ---------------------- ----------------- 8.9/16.1 MB 5.8 MB/s eta 0:00:02
   ----------------------- ---------------- 9.3/16.1 MB 5.8 MB/s eta 0:00:02
   ----------------------- ---------------- 9.6/16.1 MB 5.8 MB/s eta 0:00:02
   ------------------------ --------------- 9.9/16.1 MB 5.8 MB/s eta 0:00:02
   ------------------------- -------------- 10.1/16.1 MB 5.8 MB/s eta 0:00:02
   ------------------------- -------------- 10.4/16.1 MB 5.7 MB/s eta 0:00:01
   -------------------------- ------------- 10.6/16.1 MB 5.6 MB/s eta 0:00:01
   --------------------------- ------------ 10.9/16.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------- ----------- 11.3/16.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------- ----------- 11.6/16.1 MB 5.7 MB/s eta 0:00:01
   ----------------------------- ---------- 12.0/16.1 MB 5.7 MB/s eta 0:00:01
   ------------------------------ --------- 12.3/16.1 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 12.6/16.1 MB 5.7 MB/s eta 0:00:01
   ------------------------------- -------- 12.8/16.1 MB 5.7 MB/s eta 0:00:01
   -------------------------------- ------- 13.1/16.1 MB 5.7 MB/s eta 0:00:01
   --------------------------------- ------ 13.5/16.1 MB 5.6 MB/s eta 0:00:01
   ---------------------------------- ----- 13.9/16.1 MB 5.7 MB/s eta 0:00:01
   ----------------------------------- ---- 14.2/16.1 MB 5.7 MB/s eta 0:00:01
   ----------------------------------- ---- 14.5/16.1 MB 5.6 MB/s eta 0:00:01
   ------------------------------------ --- 14.8/16.1 MB 5.7 MB/s eta 0:00:01
   ------------------------------------- -- 15.2/16.1 MB 5.7 MB/s eta 0:00:01
   -------------------------------------- - 15.5/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  15.7/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.0/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------  16.1/16.1 MB 5.7 MB/s eta 0:00:01
   ---------------------------------------- 16.1/16.1 MB 3.7 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [ ]:
#connecting with sql server
import sqlalchemy as sal

# Set up the connection string
username = 'Arth'
password = ''
schema = 'etl_orders' # MySQL database name
host = 'localhost'

engine = sal.create_engine(f"mysql+mysqlconnector://{username}:{password}@{host}/{schema}")
conn=engine.connect()

In [ ]:
df.to_sql('etl',con=conn,index=False,if_exists='append')